@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  font-family: "Fira Code", monospace;
  white-space: inherit;
}

.book.font-family-0 {
  font-family: Lora, Georgia, serif;
}
.book.font-family-1 {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
