# https://github.com/lucacozzuto/test_bookdown/blob/2814fd4c8dd38fe19bd2e981ed8c24ac17372fa7/.github/workflows/deploy_bookdown.yml
# https://github.com/lucacozzuto/test_bookdown/
on:
  push:
    branches:
      - main
permissions:
  contents: write

name: renderbook

jobs:
  bookdown:
    name: Render-Bookdown
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      # More detail here, https://github.com/r-lib/actions
      # It's possible to define R and pandoc version if desired
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-pandoc@v2
      - name: Install TinyTeX
        uses: r-lib/actions/setup-tinytex@v2
        env:
          # install full prebuilt version
          TINYTEX_INSTALLER: TinyTeX
      - name: Install rmarkdown
        run: Rscript -e 'install.packages(c("rmarkdown","bookdown","formatR","downlit","xml2"))'
      - name: Render Book
        run: Rscript -e 'bookdown::render_book("index.Rmd")'
      - uses: actions/upload-artifact@v3
        with:
          name: _book
          path: _book/

  checkout-and-deploy:
    name: Deploy
    runs-on: ubuntu-22.04
    needs: bookdown
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          # Artifact name
          name: _book # optional
          # Destination path
          path: _book # optional
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          folder: _book
